.section__portfolio {
    display: grid;
    position: relative;
    align-content: start;
    gap: 20px;
    padding: 15px 10px;
    width: 80%;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto;
    overflow-x: hidden;
}

@media (min-width: 500px) {
    .section__portfolio {
        grid-template-columns: minmax(0, 350px);
    }
}

@media (min-width: 768px) {
    .section__portfolio {
        grid-template-columns: repeat(2, minmax(0, 350px));
    }
}

@media (min-width: 1100px) {
    .section__portfolio {
        grid-template-columns: repeat(3, minmax(0, 350px));
        grid-template-rows: 260px;
    }
}
